<title mat-dialog-title style="color: red;">Disclaimer</title>
<mat-dialog-content>
    <h3>
        The bed availability data provided on this website is updated daily by the respective hospitals. However, due to the dynamic nature of admissions and discharge, the bed availablity status may have changed since the update. We advise you to call the hospital to get the latest status.
    </h3>
    <h3>
        This website uses the same API as <a href="https://tncovidbeds.tnega.org/">https://tncovidbeds.tnega.org/</a>. Full credit to them for the data.
    </h3>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">I understand</button>
</mat-dialog-actions>
