<title mat-dialog-title>Welcome to Bedsy</title>
<h4>Choose your filters</h4>
    <mat-form-field appearance="fill">
        <mat-label>Choose a district</mat-label>
        <mat-select [(ngModel)]="district">
          <mat-option *ngFor="let district of districts" value="{{district}}">{{ district }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
    <mat-checkbox class="filters" [(ngModel)]="O2">O2 Beds</mat-checkbox>
    <mat-checkbox class="filters" [(ngModel)]="ICU">ICU Beds</mat-checkbox>
    <mat-checkbox class="filters" [(ngModel)]="normal">Normal Beds</mat-checkbox>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="applyFilters()">Find</button>
</mat-dialog-actions>